@import "topcoat-button-bar-base";
@import "topcoat-button";
/* topdoc
  name: Button Bar
  description: Component of grouped buttons
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-button-bar">
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button">One</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button">Two</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button">Three</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button">Four</button>
      </div>
    </div>
  examples:
    mobile button bar: http://codepen.io/Topcoat/pen/kdKyg
  tags:
    - desktop
    - light
    - dark
    - mobile
    - button
    - group
    - bar
*/
.button-bar {
  @extend: %button-bar;
}

.button-bar__item {
  @extend: %button-bar__item;
}

.button-bar > .button-bar__item:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.button-bar > .button-bar__item:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.button-bar__item > input {
  @extend: %button-bar__item__input;
  pointer-events: none;
}

:checked + .button {
  background-color: var(--background-color--down);
  box-shadow: var(--box-shadow--down);
}

.button-bar__item:not(:last-child) > .button,
.button-bar__item:not(:last-child) > .button--large {
  margin-right: -1px;
}

.button-bar__item > .button,
.button_bar__item > .button--large {
  border-radius: inherit;
}

.button:active,
.button--large:active {
  @extend: .button:active;
}

.button-bar__item > .button:focus,
.button-bar__item > .button--large:focus {
  @extend: %button-bar__button--focus;
}

/* topdoc
  name: Large Button Bar
  description: A button bar, only larger
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-button-bar">
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button--large">One</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button--large">Two</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button--large">Three</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button--large">Four</button>
      </div>
      <div class="topcoat-button-bar__item">
        <button class="topcoat-button--large">Five</button>
      </div>
    </div>
  tags:
    - desktop
    - light
    - dark
    - mobile
    - button
    - group
    - bar
    - large
*/
/* topdoc
  name: Select Button Bar
  description: Component of grouped buttons
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-button-bar">
      <label class="topcoat-button-bar__item">
        <input type="radio" name="topcoat" checked>
        <div class="topcoat-button">One</div>
      </label>
      <label class="topcoat-button-bar__item">
        <input type="radio" name="topcoat">
        <div class="topcoat-button">Two</div>
      </label>
      <label class="topcoat-button-bar__item">
        <input type="radio" name="topcoat">
        <div class="topcoat-button">Three</div>
      </label>
      <label class="topcoat-button-bar__item">
        <input type="radio" name="topcoat">
        <div class="topcoat-button">Four</div>
      </label>
    </div>
  examples:
    mobile button bar: http://codepen.io/Topcoat/pen/kdKyg
  tags:
    - desktop
    - light
    - dark
    - mobile
    - button
    - group
    - bar
*/
